@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$font-stack: 'Open Sans', sans-serif;
$primary-color: rgb(74, 74, 74);
$secondary-color: rgb(101, 174, 213);
$tertiary-color: rgb(38, 133, 189);
$shadow-color: rgba(0,0,0,0.2);

.App {
  text-align: center;
  font: 100% $font-stack;
  background: linear-gradient(45deg, rgb(17, 93, 163), rgb(78, 207, 237));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.location {
  margin-bottom: 1.25rem;
}

.container {
  border-radius: 3px;
  filter: drop-shadow(0 0 7.5px $shadow-color);
  min-width: 75vh;
  min-height: 50vh;
}

.today-container {
  border-radius: 3px;
  min-width: 75vh;
  min-height: 50vh;
  background-image: url('../Dallas.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.25rem 2rem 1.25rem 2rem;
}

.forecast-container {
  border-radius: 3px;
  min-width: 75vh;
}

.forecast-card {
  min-height: 17vh;
  align-items: center;
  justify-content: center;
}

.forecast-grid {
  height: 100%;
}

.weather-icon {
  padding: .5rem 1rem 0rem .5rem;
}